<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Here we include bootstrap. This will be made available to all of the generated HTML/JS that React generates-->
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		

	<!-- 
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> -->
		<title>Scraping App</title>
	</head>
	<body>
		{{{ body }}}
	</body>
	

</html>